src/main/mule/cdmule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e2983fb5-8e37-4291-8d9e-a2550330287c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cdmuleFlow" doc:id="000e599c-2ffa-41ef-ae8e-176558eb6693" >
		<http:listener doc:name="Listener" doc:id="091b783e-461d-4ddc-a6ca-aa7786182c78" config-ref="HTTP_Listener_config" path="/cicdm"/>
		<logger level="INFO" doc:name="Logger" doc:id="66abd6fb-ef35-47a1-b055-40ee25e6e5c4" message="Inc msg :: #[payload]"/>
		<set-payload value='#["Hi " ++ payload.name]' doc:name="Set Payload" doc:id="2cba2d9f-e21c-448a-a107-b5bb483ef381" />
	</flow>
</mule>
